{% load static %}

<!-- start course archive sidebar -->
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="courseArchive_sidebar">
      <!-- start single sidebar Posts-->
      <div class="single_sidebar">
        <h2>Popular Posts <span class="fa fa-angle-double-right"></span></h2>
        <ul class="news_tab">
          {% for post in popular %} 
          <li>
            <div class="media">
              <div class="media-left">
                <a href="{% url 'post' post.id post.title|slugify %}" class="news_img">
                {% if post.image %}
                  <img alt="img" src="{{post.image.url}}">
                {% else %}
                  <img alt="img" src={% static 'core/img/default_blog.jpg' %}>
                {% endif %}
                </a>
              </div>
              <div class="media-body">
                <a href="{% url 'post' post.id post.title|slugify %}">{{post.title}}</a>
                <span class="feed_date">{{post.created|date:'d M Y'}}</span>
              </div>
            </div>
          </li>  
          {% endfor %}    
        </ul>
      </div>
      <!-- End single sidebar -->

      <!-- start single sidebar Tags-->
      <div class="single_sidebar">
        <h2>Tags <span class="fa fa-angle-double-right"></span></h2>
        <ul class="tags_nav">
          {% for category  in categories  %}
            <li><a href="{% url 'category' category.id category|slugify %}"><i class="fa fa-tags"></i>{{category.name}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <!-- End single sidebar -->

      <!-- start single sidebar  Events-->

      <div class="single_sidebar">
      <h2>Upcoming Events <span class="fa fa-angle-double-right"></span></h2>
      <ul class="news_tab">
      {%if upcoming%}
      {% for event in upcoming %}
      <li>
      <div class="media">
      <div class="media-left">
      <a href="#" class="news_img">
      <img alt="img" src={{event.cover_image.url}} class="media-object">
      </a>
      </div>
      <div class="media-body">
      <a href="#">{{event.title}}</a>
      <span class="feed_date">{{event.time|date:'d M Y'}}</span>
      </div>
      </div>
      </li>
      {% endfor %}
      {% else %}
      <li>
      <div class="media">
      <div class="media-left">
      <a href="{% url 'events' %}" class="news_img">
      <img alt="img" src={% static 'core/img/defaults/coming_soon.jpg' %} class="media-object">
      </a>
      </div>
      <div class="media-body">
      <a href="{% url 'events' %}">No Upcoming Events</a>
      <span class="feed_date">COMING SOON</span>
      </div>
      </div>
      </li>
      {% endif %}      
      </ul>
      </div>
      <!-- End single sidebar -->

    </div>
  </div>
<!-- End course archive sidebar -->